.cajas{
 
}
.caja{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}
.borde-solido{
    border: 3px solid #333;
}
.borde-rayado{
    border: 2px dashed #333;
}
.borde-pinteado{
    border: 2px dotted #333;
}
/* =============== */
.sombra{
    margin: 100px 100px;
    /*        inset(opcional)  X   Y   difuminado  desplazamiento  color  */
    box-shadow: 5px 5px 3px 10px #333;
}